<!-- <div class="contain-to-grid"> -->
  <!-- <nav class="top-bar" data-topbar> -->
  <nav class="orange lighten-2">
    <!-- <section class="top-bar-section"> -->
    <div class="nav-wrapper container">
      <ul class="left">
        <!-- link to home -->
        <li><%= link_to "Home", home_path %></li>
        <li class="has-dropdown">
          <%= link_to "View Menu", items_path %>
          <ul class="dropdown">
            <% if logged_in? && current_user.role?(:admin) %>
              <li><%= link_to "New Item", new_item_path %></li>
            <% end %>
          </ul>
        </li>

        <% if logged_in? && (current_user.role?(:admin) || current_user.role?(:customer)) %>
          <!-- options for orders -->
          <% if current_user.role?(:customer) %>
            <li class="has-dropdown"><%= link_to "My Orders", orders_path %></li>
          <% else %>
            <li class="has-dropdown"><%= link_to "All Orders", orders_path %></li>
          <% end %>


          <!-- options for addresses -->
          <li class="has-dropdown">
            <%= link_to "Addresses", addresses_path %>
            <ul class="dropdown">
              <% if current_user.role?(:customer) %>
                <li><%= link_to "My Addresses", addresses_path %></li>
              <% else %>
                <li><%= link_to "All Addresses", addresses_path %></li>
              <% end %>
              <li><%= link_to "Add an Address", new_address_path %></li>
            </ul>
          </li>

          <!-- options for customers -->
          <% if current_user.role?(:admin) %>
            <li class="has-dropdown">
              <%= link_to "Customers", customers_path %>
              <ul class="dropdown">
                <li><%= link_to "All Customers", customers_path %></li>
                <li><%= link_to "Add a Customer", new_customer_path %></li>
              </ul>
            </li>
          <% end %>
        <% end %>
      </ul>

      <ul class="right">
        <% if logged_in? %>
          <% if current_user.role?(:customer) || current_user.role?(:admin) %>
            <li><%= link_to "View Cart", cart_path %></li>
          <% end %>
          <% if current_user.role?(:customer) %>
            <li><%= link_to current_user.customer.first_name, customer_path(current_user.customer) %></li>
          <% end %>

          <li><%= link_to "Log Out", logout_path %></li>
        <% else %>
          <li><%= link_to "Register", new_customer_path %></li>
          <li><%= link_to "Log In", login_path %></li>
        <% end %>

      </ul>

        <!-- ADMIN ONLY OPTIONS -->









    </section>
  </nav>
<!-- </div> -->