<%= simple_form_for @item_price, :html => { :multipart => true } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Price</legend>
    <%= @item_price.errors.messages %>
    <%= f.select(:item_id, Item.alphabetical.active.map{|i| ["#{i.name}", i.id]} ) %>

    <%= f.input :price %>

    <div class="form-actions">
      <%= f.submit nil, class: 'btn' %>
      <%= link_to 'Cancel', items_path, :class => 'btn yellow darken-3' %>
    </div>
  </fieldset>
<% end %>