<h2>Your Cart</h2>
<% if @items_in_cart.empty? %>
  <p><em>Your cart is empty.</em></p>
<% else %>
  
  <table class="striped">
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th>Price</th>
      <th></th>
    </tr>

    <% @items_in_cart.each do |order_item| %>
      <tr>
        <td><%= order_item.item.name %></td> 
        <td><%= order_item.quantity %></td>
        <td><%= number_to_currency(order_item.item.current_price, :unit => "$") %></td>
        <td><%= link_to "Remove Item", remove_item_path(order_item.item.id) %></td>
      </tr>
    <% end %>
  
  </table> 

  <p> Subtotal: <%= number_to_currency(@subtotal, :unit => "$") %></p>
  
  <%= link_to 'Checkout', new_order_path, :class => 'btn' %>
  <%= link_to 'Clear Cart', drop_cart_path, :class => 'btn yellow darken-3' %>
<% end %>

