<%= simple_form_for(@address, html: { class: 'form-horizontal' }) do |f| %>
  <fieldset>
    <%= f.input :recipient %>
    <div class="field">
      <%= f.label :customer_id %><br />
      <%= f.collection_select :customer_id, Customer.active.alphabetical, :id, :name, prompt: "Select Customer..." %>
    </div>
    <%= f.input :street_1 %>
    <%= f.input :street_2 %>
    <%= f.input :city %>
    <div class="field">
      <%= f.label :state %><br />
      <%= f.select(:state, Address::STATES_LIST) %>
    </div>
    <%= f.input :zip %>
    
    <input name="address[is_billing]" type="hidden" value="0" />
    <input checked="checked" id="address_is_billing" name="address[is_billing]" type="checkbox" value="1" />
    <label for="address_is_billing">Billing?</label>
    </br>
    </br>

    <input name="address[active]" type="hidden" value="0" />
    <input checked="checked" id="address_active" name="address[active]" type="checkbox" value="1" />
    <label for="address_active">Active</label>

    </br>
    </br>

    <div class="form-actions">
    <%= f.submit nil, class: 'btn' %>
    <%= link_to 'Cancel', addresses_path, :class => 'btn yellow darken-3' %>
    </div>
  </fieldset>
<% end %>

