<h3><%= @item.name %></h3>

<% unless @item.picture.nil? %>
  <p><%= image_tag @item.picture %></p>
<% end %>
<%= render partial: "item_details" %>

<% if !logged_in? || (logged_in? && current_user.role?(:customer)) %>
  <h4> Similar Items </h4>
  <%= render partial: "similar_items" %>
<% end %>

<% if logged_in? && current_user.role?(:admin) %>
  <h4> Price History </h4>
  <%= render partial: "price_history" %>
<% end %>

<br>

<!-- Add buttons to list all, edit project or destroy object -->
<%= render partial: "partials/object_options", locals: {model_name: "item", object: @item}  %>
